<%= render :partial => 'spree/admin/shared/sub_menu/configuration' %>

<% content_for :page_title do %>
  <%= t('flowdock.settings.title') %>
<% end %>

<%= form_for(@config, :as => "flowdock_configuration", :url => admin_flowdock_settings_path, :method => :put) do |form| %>
  <div id="preferences" data-hook>
      <fieldset class="general no-border-top">
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default security">
              <div class="panel-heading">
                <h1 class="panel-title">
                  <%= t('flowdock.settings.api_tokens') %>
                </h1>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <%= label_tag("preferences[api_token_order_confirmation]", t('flowdock.order.confirmation.api_token')) %>
                  <%= preference_field_tag("preferences[api_token_order_confirmation]", @config[:api_token_order_confirmation], :type => :string) %>
                </div>
                <div class="form-group">
                  <%= label_tag("preferences[api_token_inbox_message]", t('flowdock.inbox_message.api_token')) %>
                  <%= preference_field_tag("preferences[api_token_inbox_message]", @config[:api_token_inbox_message], :type => :string) %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="form-actions" data-hook="buttons">
          <%= button Spree.t('actions.update'), 'save' %>
        </div>
      </fieldset>
  </div>
<% end %>
