<%= render :partial => 'spree/admin/shared/configuration_menu' %>

<% content_for :page_title do %>
  <%= t('flowdock.settings.title') %>
<% end %>

<%= form_for(@config, :as => "flowdock_configuration", :url => admin_flowdock_settings_path, :method => :put) do |form| %>

<fieldset class="no-border-top">

  <fieldset class="no-border-bottom">
    <legend align="center">
      <%= t('flowdock.settings.api_tokens') %>
    </legend>
    <div class="row frameless">
      <div class="field twelve columns">
        <%= label_tag("preferences[api_token_order_confirmation]", t('flowdock.order.confirmation.api_token')) %> <span class="required">*</span>
        <%= preference_field_tag("preferences[api_token_order_confirmation]", @config[:api_token_order_confirmation], :type => :string) %>
      </div>
    </div>
  </fieldset>

  <div class="form-buttons filter-actions actions" data-hook="buttons">
    <%= button Spree.t(:update), 'icon-refresh' %>
  </div>

</fieldset>

<% end %>
